[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
shortuuid = "*"

[dev-packages]

[requires]
python_version = "3.8"
